[submodule "libkeccak"]
	path = spark_ada/libkeccak
	url = https://github.com/damaki/libkeccak.git
[submodule "KAT"]
	path = KAT
	url = https://github.com/post-quantum-cryptography/KAT.git
[submodule "spark_ada/libkeccak"]
	path = spark_ada/libkeccak
	url = https://github.com/damaki/libkeccak.git
